@model int

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="cigar cigars cigar pass box pass cigar database cigar forums community cigar placeholder cigar reviews virtual humidor buy cigars articles photos purchasing cigars cutting lighting">
    <meta name="description" content="A community for cigar fanatics with the internet&#39;s largest database of cigars and reviews, automated cigar passes, track your humidor inventory, participate in our forums.">
    <title></title>
    <link rel="stylesheet" href="./listing-page_files/template.css" type="text/css">
    <script type="text/javascript" charset="utf-8" async="" src="./listing-page_files/button.ea31e9a5ca2c3a1514ec1ed6530e2669.js.download"></script>
</head>
<body>

    <script id="twitter-wjs" src="./listing-page_files/widgets.js.download"></script>
    <script async="" src="./listing-page_files/analytics.js.download"></script>
    <script language="JavaScript">
        function NewUrl(sURL, bNew, iZoned, iTemplate) {
            if (iZoned > 0) {
                document.cookie = "CurrentZone=" + iZoned + ";path=/;"
            }
            else if (iZoned < 0) {
                document.cookie = "CurrentZone=" + iZoned + ";path=/;"
            }

            document.cookie = "Forcetemplate=" + iTemplate + ";path=/;"

            if (bNew == 0) {
                location = sURL
            }
            else {
                window.open(sURL, "test", "toolbar,status,resizable,scrollbars,location,directories,menubar")
            }
        }
    </script>
    <br><table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <script>
                        (function (i, s, o, g, r, a, m) {
                            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                                (i[r].q = i[r].q || []).push(arguments)
                            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                        ga('create', 'UA-67496218-1', 'auto');
                        ga('send', 'pageview');

                    </script>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td width="325"><a href="http://www.placeholder.com/"><img src="./listing-page_files/header_left.jpg" border="0" width="325" height="128" style="display:block;"></a></td><td style="background-image:url(/images/header_center.jpg); background-repeat:repeat-x; background-position:top">&nbsp;</td><td width="396"><img src="./listing-page_files/header_right.jpg" width="396" height="128" style="display:block;"></td></tr></tbody></table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="4" background="./listing-page_files/body_left.jpg">&nbsp;</td>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="120" valign="top" bgcolor="#AB8460">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr></tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr></tr>
                                                                            <tr>
                                                                                <td align="left" style="height:22px;">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr></tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                            <tr></tr>
                                                                            <tr>
                                                                                <td align="left" style="height:22px;">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <center>
                                                                        <br>
                                                                        <br>
                                                                        <br>
                                                                    </center>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td valign="top">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td bgcolor="#8C6D4D">
                                                                    <div class="headercontrolbox">
                                                                        <span class="smalltext">You are logged in as a guest. ( <a href="http://www.placeholder.com/community/logon.asp" class="controlbox_white">logon</a> |  <a href="http://www.placeholder.com/community/register.asp" class="controlbox_white">register</a> )</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table><br>
                                                    <center><iframe src="./listing-page_files/aspbanner_inc(2).html" width="728" height="90" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="display: none !important;"></iframe></center><br>
                                                    <center>
                                                        <span class="header4">Cigar Search Results</span><br><br>
                                                        <font size="2" face="arial"><a href="http://www.placeholder.com/cigardb/default.asp?action=showsearch">Search</a> | <a href="http://www.placeholder.com/cigardb/default.asp?action=cigarform">Submit A New Cigar</a> | <a href="http://www.placeholder.com/reviews/default.asp">Cigar Reviews</a> | <a href="http://www.placeholder.com/humidor/default.asp">My Humidor</a></font><br>
                                                        <br>
                                                        <table class="bbstable" cellspacing="1" width="95%" align="center">
                                                            <tbody>
                                                                <tr><td class="messagecellbody" colspan="9"><b>48328 cigars were found that matched your search criteria.</b></td></tr>
                                                                <tr>
                                                                    <td class="messagecellheader" nowrap="" align="center">Cigar</td>
                                                                    <td class="messagecellheader" nowrap="" align="center">Length</td>
                                                                    <td class="messagecellheader" nowrap="" align="center">Ring<br>Gauge</td>
                                                                    <td class="messagecellheader" nowrap="" align="center">Country</td>
                                                                    <td class="messagecellheader" nowrap="" align="center">Filler</td>
                                                                    <td class="messagecellheader" nowrap="" align="center">Wrapper</td>
                                                                    <td class="messagecellheader" nowrap="" align="center">Color</td>
                                                                    <td class="messagecellheader" nowrap="" align="center">Strength</td>
                                                                    <td class="messagecellheader" nowrap="" align="center">Rating</td>
                                                                </tr>

                                                                @for (var i = (@Model * 100); i < (@Model+1) * 100; i++)
                                                                {
                                                                var name = "Brand"+i+" Cigar"+i;
                                                                <tr><td class="messagecellbody" align="left"><a href="http://www.placeholder.com/cigardb/default.asp?action=showcig&amp;cigar_id=43795&amp;t=@name">@name</a></td><td class="messagecellbody">7</td><td class="messagecellbody">48</td><td class="messagecellbody">DR</td><td class="messagecellbody">DR</td><td class="messagecellbody">DR</td><td class="messagecellbody">Colorado Maduro</td><td class="messagecellbody">Mild</td><td class="messagecellbody" align="center" nowrap=""><font class="smalltext"><br><a href="http://www.placeholder.com/cigardb/default.asp?action=rateform&amp;cigar_id=43795">[Rate It!]</a></font></td></tr>
                                                                }

                                                            </tbody>
                                                        </table>
                                                        
                                                        @{
                                                        var nextUrl = "~/search-result/"+ (@Model+1);
                                                        }                                                        
                                                        
                                                        <br><font size="2" face="arial"><a href="http://www.placeholder.com/cigardb/default.asp?action=showsearch">Search</a> | <a href="http://www.placeholder.com/cigardb/default.asp?action=cigarform">Submit A New Cigar</a> | <a href="http://www.placeholder.com/reviews/default.asp">Cigar Reviews</a> | <a href="http://www.placeholder.com/humidor/default.asp">My Humidor</a></font><br><br><font face="Verdana, Arial, Helvetica" size="2" color="#43647E">&lt;&lt; First</font>&nbsp;&nbsp;&nbsp;&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E">&lt; Prev</font>&nbsp;&nbsp;&nbsp;&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E"><a href="@Url.Content(nextUrl)">Next &gt;</a></font>&nbsp;&nbsp;&nbsp;&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E"><a href="http://www.placeholder.com/cigardb/default.asp?action=srchrslt&amp;page=967">Last &gt;&gt;</a></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jump to page: <font face="Verdana, Arial, Helvetica" size="2" color="#43647E">1</font>&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E"><a href="http://www.placeholder.com/cigardb/default.asp?action=srchrslt&amp;page=2">2</a></font>&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E"><a href="http://www.placeholder.com/cigardb/default.asp?action=srchrslt&amp;page=3">3</a></font>&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E"><a href="http://www.placeholder.com/cigardb/default.asp?action=srchrslt&amp;page=4">4</a></font>&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E"><a href="http://www.placeholder.com/cigardb/default.asp?action=srchrslt&amp;page=5">5</a></font>&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E"><a href="http://www.placeholder.com/cigardb/default.asp?action=srchrslt&amp;page=6">6</a></font>&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E"><a href="http://www.placeholder.com/cigardb/default.asp?action=srchrslt&amp;page=7">7</a></font>&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E"><a href="http://www.placeholder.com/cigardb/default.asp?action=srchrslt&amp;page=8">8</a></font>&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E"><a href="http://www.placeholder.com/cigardb/default.asp?action=srchrslt&amp;page=9">9</a></font>&nbsp;<font face="Verdana, Arial, Helvetica" size="2" color="#43647E"><a href="http://www.placeholder.com/cigardb/default.asp?action=srchrslt&amp;page=10">...</a></font>&nbsp;                                                        

                                                        <center>
                                                            <br>

                                                        </center>
                                                        <br>
                                                    </center>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
</body>
</html>